{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block heading %}Home{% endblock %}

{% block body %}
 
 <p>The data set that I read about was UFO sightings, I have recorded my findings in this website. The data was found in  <a href="https://corgis-edu.github.io/corgis/json/ufo_sightings/">here</a> . I used around 80,000 recorded ufo sightings that includes, length of encounter, shape, date and time of the encounter, and the latitude and longitude of the state that the encounter occured in.
 There are no missing data points in my findings. The data was gathered by The National UFO Reporting center which was founded in 1974. The data is all reports from individuals who have witnessed a UFO related event with over 129 reports made in SB. <p>

{% endblock %}